*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Ignore generated build outputs and binaries
/app-debug.apk
/app-debug.zip
/app-debug.pdf
/landing_page/app-debug.apk
/landing_page/app-debug.zip
/landing_page/app-debug.pdf

